header{
  border-color: yellow
}
.navbar {
margin: 10px 0;

}
.navbar-default {
background-color: #fff;
border-color: purple;
margin-bottom: -100px;
}
.brand-name {
font-family: 'Josefin Slab', serif;
font-size: 40px;
font-weight: bold;
color: #444;
text-decoration: none;
}

.nav-container {
padding-top: 4px;
}
.navbar-custom {
font-size: 20px;
background-color: #FFF;

}



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
position: relative;
  min-height: 100vh;
  background: #fff;
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.5s;
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #FFF;
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}
 
section .container .user .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBox {
  position: relative;
  width: 50%;
  height: 100%;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .user .formBox form h2{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBox form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBox form button {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  
  max-width: 100px;
  background: #667eff;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .user .formBox form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBox form .signup a{
  text-decoration: none;
  font-weight: 600;
  color: #677eff;
}

section .container .signupBox {
  pointer-events: none;
}

section .container.active .signupBox {
  pointer-events: initial;
}

section .container .signupBox .formBox {
  left: 100%;
}

section .container.active .signupBox .formBox {
  left: 0;
}

section .container .signupBox .imgBox {
  left: -100%;
}

section .container.active .signupBox .imgBox {
  left: 0;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }
  
  section .container .imgBox {
    display: none;
  }
  
  section .container .user .formBox {
    width: 100%;
  }
}

.list-group list-group-flush{
  margin-top: 100px;
}
.container{
  background: #fff;
}
body {
  font-family: 'Bubbler One', sans-serif !important;
}

nav {
  margin-top: 2em;
}

nav a {
  text-transform: uppercase;
  font-size: 2em;
  padding: .5em;
}

nav a:hover {
  text-decoration: none;
  font-size: 2.5em;
}

.title {
  color: #183666;
  margin-bottom: 1em;
  margin-top: .8em;
}

h4 {
  display: inline;
}

p {
  font-size: 1.5em;
}

#amount, #percentage {
  width: 5em;
}

#calculate {
  margin-top: 1em;
}
.simple-btn button,
.btn-size,
.secondary-btn button{
  margin:10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: linear-gradient(to right, #0018f780 50%, #ffffff 50%), url('https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
    width: 40%;
    height: 500px;
    border-radius: 2px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
}

.user img {
    width: 150px;
    height: 150px;
}

.user {
    margin: auto;
    position: absolute;
    top: 20%;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background: #ffffff;
    transform: translate(-50%, -100%);
    left: 50%;
}

.input-field {
    margin: 20px 0px;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #b39d9d;
    margin-top: 10px;
    margin-bottom: 20px;
}


form {
    margin: 90px 50px;
    width: 100%;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -200px;
}

button {
    background: blueviolet;
    border: none;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 50px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.left,
.right {
    width: 100%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

span {
    background: yellow;
    padding: 5px;
    line-height: 2;
    color: red;
    margin-bottom: 20px;
}

.dialog {
    transition: 0.2s all;
    color: red;
}

@media(max-width: 768px) {
    .left {
        display: none;
    }

    .form-wrapper {
        width: 200%;
    }

    form {
        width: 50%;
    }

    .container {
        width: 190%;
        height: 160vh;
        background: white;
    }

    .right {
        width: 200%;
        margin-top: 200px;
    }
    .form-check-input{
      padding-top: 200px;
    }


